<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHBusMediator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB25D9B91D05798D0046B56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB25D9D21D05798D0046B56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB25D9DD1D05798D0046B56B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
