<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHPlayRoomDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBC43C931E49AC7F00E0B4F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBC43CAC1E49AC8000E0B4F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBC43CB71E49AC8000E0B4F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
